<h2>
  <strong><%= @beer_club.name %> <%= @beer_club.city %></strong>
</h2>

<p>
  Founded <%= @beer_club.founded %>
</p>

<h3>Members</h3>

<p>
  <% if @beer_club.memberships.count == 0 %>
    no members yet
  <% else %>
    <ul>
      <% @beer_club.members.each do |m| %>
        <li> <%= link_to m.username, m %> </li>
      <% end %>
    </ul>
  
  <% end %>
</p>
<% if current_user %>

  <% if not @beer_club.members.include?(current_user) %>
    <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value:"join the club", class:'btn btn-primary' %>
    <% end %>
  <% else %>
    <%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership", class:'btn btn-danger' %>
    <% end %>
  <% end %>
  
<% end %>
<br>
<%= edit_and_destroy_buttons(@beer_club) %>

