<h2>
  <%= @user.username %>
  <% if @user.banned %>
    <span class="label label-info">account frozen</span>
  <% elsif @user.admin %>  
    <span class="label label-info">admin</span>
  <% end %>
</h2>

<% if @user.favorite_beer %>
  <p><strong>favorite beer: </strong><%= link_to @user.favorite_beer.name, @user.favorite_beer %> </p>
<% end %>

<% if @user.favorite_style %>
  <p><strong>favorite style: </strong><%= @user.favorite_style %> </p>
<% end %>

<% if @user.favorite_brewery %>
  <p><strong>favorite brewery: </strong><%= link_to @user.favorite_brewery.name, @user.favorite_brewery %> </p>
<% end %>

<% if @user.beer_clubs.count == 0 %>
  <p><strong>hasn't joined any beer club yet</strong></p>
<% else %>
  <h3>Beer Clubs</h3>
  <p>
    <% if @user.memberships.confirmed.count != 0 %>
      member of
      <ul>
        <% @user.beer_clubs.each do |c| %>
          <% if c.is_member(@user) %>
            <li><%= link_to c.name, c %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if @user.memberships.unconfirmed.count != 0 %>
      applied membership of
      <ul>
        <% @user.beer_clubs.each do |c| %>
          <% if not c.is_member(@user) %>
            <li><%= link_to c.name, c %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <p>
<% end %>



<% if @user.ratings.count == 0 %>
  <p><strong>hasn't made any ratings yet</strong><p>  
<% else %>
  <p>has made <%= @user.ratings.count %> ratings, average: <%= @user.average_rating %></p>
  <h3>ratings</h3>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %> 
        <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
      </li>
    <% end %>
  </ul>
  
<% end %>

<% if current_user and current_user.admin and @user != current_user %>
  <% if @user.banned %>
    <%= link_to "unban user", toggle_banned_user_path(@user.id), method: :post, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "ban user", toggle_banned_user_path(@user.id), method: :post, class: "btn btn-danger" %>
  <% end %>
  <br>
<% end %>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-warning' %>
  <%= link_to 'Destroy', @user, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


