<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<p>
<% if @user.beer_clubs.count == 0 %>
  hasn't joined any beer club yet
<% else %>
  member of
  <% @user.beer_clubs.each do |c| %>
   <%= link_to c.name, c %>
 <% end %>
<% end %>
</p>

<% if @user.favorite_style %>
  <p>favorite style: <%= @user.favorite_style %> </p>
<% end %>

<% if @user.favorite_brewery %>
  <p>favorite brewery: <%= link_to @user.favorite_brewery.name, @user.favorite_brewery %> </p>
<% end %>


<% if @user.ratings.count == 0 %>
  <p>hasn't made any ratings yet<p>  
<% else %>
  <p>has made <%= @user.ratings.count %> ratings, average: <%= @user.average_rating %></p>
  <h3>ratings</h3>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %> 
        <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
      </li>
    <% end %>
  </ul>
  
<% end %>

<%= link_to 'Back', users_path, class:'btn btn-default' %>
<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-warning' %>
  <%= link_to 'Destroy', @user, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
