<p id="notice"><%= notice %></p>

<h2> <%= @style.name %> </h2>

<p>
  <%= @style.description %>
</p>

<p>
  <strong>beers</strong>
  <ul>
    <% @style.beers.each do |b| %>
      <li><%= link_to b.name, b %> by <%= link_to b.brewery.name, b.brewery %></li>
    <% end %>
  </ul>
  
</p>
<% if current_user %>
  <%= link_to 'Edit', edit_style_path(@style), class:'btn btn-warning' %>
  <%= link_to 'Destroy', @style, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', styles_path, class:'btn btn-default' %>

