<h1>Breweries</h1>

<h2>Active</h2>

<p> Number of active breweries: <%= @active_breweries.count %> </p>

<% if @active_breweries.count > 0 %>
  <%= render 'list', breweries: @active_breweries %>
<% end %>

<h2>Retired</h2>

<p> Number of retired breweries: <%= @retired_breweries.count %> </p>

<% if @retired_breweries.count > 0 %>
  <%= render 'list', breweries: @retired_breweries %>
<% end %>

<br>

<%= link_to 'New Brewery', new_brewery_path, class:'btn btn-default' if current_user %>


